#title {
  grid-area: title;
}

#game {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

#game.hidden,
#lobby.hidden {
  display: none;
}

#board-container {
  overflow: hidden;
  display: flex;
}

.cell-image {
  display: block;
  width: 100%;
  height: 100%;
}

#game.row {
  flex-direction: row;
}

#game.column {
  flex-direction: column;
}

#game.row #turns {
  flex-direction: column;
  display: flex;
}

#game.column #turns {
  flex-direction: row;
  display: flex;
}

#turns {
  grid-area: turns;
  /* display: none; */
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-shrink: 1;
  align-content: start;
  justify-content: start;
}

.turn-indicator {
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 10px;
  border-radius: 5px;
  background-color: var(--text-color);
}

.turn {
  width: 75px;
  border-radius: 1em;
}

.turn img,
.turn-indicator {
  width: 100%;
  display: block;
}

div.turn-indicator.hidden {
  opacity: 0;
  display: block;
}

#error h2 {
  color: rgb(185, 58, 92);
}

#game-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 8em;
}

#result img {
  height: 1em;
  width: 1em;
  aspect-ratio: 1 / 1;
  display: inline;
}

.trans {
  opacity: 0.5;
}

.turn {
  border: 1px solid color-mix(in srgb, var(--text-color) 20%, transparent 80%);
}

.owned {
  border: 1px solid var(--text-color);
}

.owned.no-win {
  border: 1px dashed var(--text-color);
}

.no-win {
  border: 1px dashed color-mix(in srgb, var(--text-color) 20%, transparent 80%);
}

.current-turn {
  outline: 3px solid var(--primary-color);
  outline-offset: 1px;
}
