#title {
  grid-area: title;
}

#game {
  display: grid;
  gap: var(--padding);
  background-color: var(--background-dark);
  padding: var(--padding);
  --sidebar-size: 10em;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  --padding: 20px;
}

#game.row {
  grid-template-columns: calc(100% - var(--sidebar-size)) var(--sidebar-size);
}

#game.column {
  grid-template-rows: calc(100% - var(--sidebar-size)) var(--sidebar-size);
}

#game.hidden,
#lobby.hidden {
  display: none;
}

#board-container {
  /* aspect-ratio: 1; */
  background-color: var(--background);
}

.column #board-container {
  max-width: calc(100vw - calc(var(--padding) * 2));
  /* max-height: calc(100% - var(--sidebar-size)); */
  max-height: 100%;
}

.row #board-container {
  max-height: calc(100vh - calc(var(--padding) * 2));
  /* max-width: calc(100% - var(--sidebar-size)); */
  max-width: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

#sidebar {
  display: flex;
  padding: var(--padding);
  background-color: var(--background);
  box-sizing: border-box;
}

#game.row #sidebar {
  flex-direction: row;
}

#game.column #sidebar {
  flex-direction: column;
}

.timeline {
  display: flex;
  gap: var(--padding);
  align-content: start;
  justify-content: start;
  position: relative;
  flex-grow: 1;
  height: 0;
  width: 0;
}

#game.row .timeline {
  flex-direction: column;
}

#game.column .timeline {
  flex-direction: row;
}


.timeline-indicator {
  --position: 0;
  border-radius: 1em;
  outline: 3px solid var(--primary-color);
  outline-offset: -1px;
  position: absolute;
  aspect-ratio: 1;
  transition: ease-in-out 0.1s;
  --step-size: 120px;
}

#game.row .timeline-indicator {
  top: calc(var(--position) * var(--step-size));
}

#game.column .timeline-indicator {
  left: calc(var(--position) * var(--step-size));
}

.timeline-indicator::after {
  --size: 1em;
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
}

#game.row .timeline-indicator::after {
  border-top: calc(var(--size) / 2) solid transparent;
  border-bottom: calc(var(--size) / 2) solid transparent;
  border-left: var(--size) solid var(--primary-color);
  left: calc(calc(-1 * var(--size)) - 6px);
  top: 50%;
  transform: translate(0, -50%);
}

#game.column .timeline-indicator::after {
  border-left: calc(var(--size) / 2) solid transparent;
  border-right: calc(var(--size) / 2) solid transparent;
  border-top: var(--size) solid var(--primary-color);

  top: calc(calc(-1 * var(--size)) - 6px);
  left: 50%;
  transform: translate(-50%, 0);
}

.timeline-item {
  border-radius: 1em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-item img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.timeline-item span {
  font-size: 30px;
}

.timeline-item {
  border: 1px solid color-mix(in srgb, var(--text-color) 20%, transparent 80%);
}

.owned {
  border: 1px solid var(--text-color);
}

.owned.no-win {
  border: 1px dashed var(--text-color);
}

.no-win {
  border: 1px dashed color-mix(in srgb, var(--text-color) 20%, transparent 80%);
}

/* .current-turn {
  outline: 3px solid var(--primary-color);
  outline-offset: 1px;
} */

#error h2 {
  color: rgb(185, 58, 92);
}

#game-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 8em;
}

#result img {
  height: 1em;
  width: 1em;
  aspect-ratio: 1 / 1;
  display: inline;
}
